/* Add your CSS here! It'll be added to the <head> of each page. */

body {
  background-color: #ecebe8;
  color: #414140;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

main {
  max-width: 950px;
  margin: 0 auto;
}

main img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  padding: 5px;
  background-color: #dadada;
  border: solid #cacaca 1px;
}
main figcaption {
  display: block;
  margin: 10px auto;
  text-align: center;
  max-width: 500px;
  font-weight: 200;
  font-style: italic;
}

#logo {
  display: block;
  text-align: center;
}

#logo a {
  text-decoration: none;
  border-width: 0 0 3px;
  border-color: #dadada;
  border-style: solid;
  color: #c7433f;
}

h2 {
  text-align: center;
}

a {
  color: #414140;
}

a:hover {
  color: #c7433f;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 27px;
  display: flex;
  flex-wrap: wrap;
}

#nav li {
  flex: 1;
}

#nav li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 10px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 200;
}

#nav li a:hover {
  transition: 0.2s;
  font-weight: bold;
}

#home-splash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
  flex-direction: row;
}

.splash-image {
  flex: 1;
  height: 300px;
}

.splash-image img {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#notice {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  display: block;
}

article {
  margin: 0 auto;
  max-width: 680px;
}

footer {
  margin-top: 1em;
  text-align: center;
}

footer .social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer .counter {
  font-size: 11px;
  font-style: italic;
}

.opening {
  color: #c7433f;
  padding: 5px;
  font-size: 50px;
  text-align: center;
}

.thick-box-text {
  font-weight: 600;
  color: white;
  background-color: #414140;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  top: 18px;
}

.hoverable-image {
  position: relative;
}

.hoverable-image img {
  transition: 1.5s;
}

.hoverable-image .nohover {
  opacity: 1;
}

.hoverable-image .onhover {
  opacity: 0;
  position: relative;
  top: -305px;
}

.hoverable-image:hover .onhover {
  opacity: 1;
}

.hoverable-image:hover .nohover {
  opacity: 0;
}

/* These are YouTube-style thumbnails and titles/descriptions. */
.youtube-videos {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  gap: 20px;
}

.youtube-videos a {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: black;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.youtube-videos a:hover {
  text-decoration: none;
}

.youtube-videos img.thumb {
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 10px;
  padding: 0;
}

.youtube-videos .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.youtube-videos h4 {
  font-size: 14px;
  margin: 0 0 4px 0;
  line-height: 1.2;
}

.youtube-videos span {
  color: grey;
  font-size: 12px;
  margin-bottom: 2px;
}
