/* Add your CSS here! It'll be added to the <head> of each page. */

body {
  background-color: #ffffff;
  color: #372f2d;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

main {
  max-width: 950px;
  margin: 0 auto;
}

main img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  padding: 5px;
  background-color: #dadada;
  border: solid #cacaca 1px;
}
main figcaption {
  display: block;
  margin: 10px auto;
  text-align: center;
  max-width: 500px;
  font-weight: 200;
  font-style: italic;
}

#logo {
  display: inline-block;
}

#logo a {
  text-decoration: none;
  border-width: 0 0 3px;
  border-color: #dadada;
  border-style: solid;
}

a {
  color: #372f2d;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 27px;
  display: flex;
  flex-wrap: wrap;
}

#nav li {
  flex: 1;
}

#nav li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 10px;
  line-height: 36px;
  font-size: 24px;
}

#nav li a:hover {
  transition: 0.2s;
  color: firebrick;
  font-weight: bold;
}

#home-splash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
  flex-direction: row;
}

.splash-image {
  flex: 1;
  height: 300px;
}

.splash-image img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
